<figure class="text-center p-3 mb-2 bg-dark text-white">
  <blockquote class="blockquote">
    <p>The more you know, the more you realize you don't know.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Aristotle <cite title="Source Title">Some greek guy i dunno im trying debug stuff over here</cite>
  </figcaption>
</figure>
<div class="container">
  <div class="row">
    <div class="col col-extra">
      <div class="text-center bg-dark text-white icon-size p-1">
        <i class="bi bi-github"></i>
      </div>
      <div class="text-center bg-dark text-white icon-size p-1">
        <i class="bi bi-linkedin"></i>
      </div>
      <div class="text-center bg-dark text-white icon-size p-1">
        <i class="bi bi-file-earmark-person"></i>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col">
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Most recent project</h2>
            <p class="lead">Replaced legacy MVC and Wcf applications with angular frontend and new net core back end to
              fit companies shift towards microservices.</p>
            <p>For our angular front end we utilised a front end component library provided to us wrapping these
              components into multi purpose components that could be used on various customer journey segments such as
              personal information or risk items across multiple products.
              This library allowing us to rapidly build specific products for new target markets quite quickly such as
              our revised landlord and renters products and soon our direct motor product.
              <li>llink landlords </li>
              <li>link renetrs</li>
            </p>
            <p>
              To service this front end we built a new http aggregator to access our specific microservices such as IIDS and VRN which connect to third parties.
              Also our internal services such as static data service for dropdown data.
            </p>
          </div>
        </div>
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Im beginning to write on Medium</h2>
            <p class="lead">Ill try a couple times a month to write small articles to help out beginners.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>